[Unit]
Description=tg-send-msg-exam-bot Service
After=network.target

[Service]
Type=simple
User=root
# 注意修改为你自己的目录
WorkingDirectory=/root/tg-send-msg-exam-bot
# 注意修改为你自己的目录
ExecStart=python3 /root/tg-send-msg-exam-bot/tg-send-msg-exam-bot.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
